.burger-line{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 24px;
	height: 2px;
	background-color: #E51937;
	margin: 4px 0;
}

.menu__item{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

.menu__item_red{
	color: #E51937;
}

.heading__title{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 90px;
	line-height: 110px;
	color: #000000;
}

.heading__captiion{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

.info__row-value{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}

.info__row-number{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 43px;
	color: #000000;
}

.info__row-add{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}

.test-drive{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	color: #000000;
}

.row-button__order{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #E51937;
}

.aside__titel{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
}

.aside__desc{
	font-family: "Montserrat-Regular", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_icon-burger{
/*	display: flex;
	justify-content: space-between;
	align-items: center;*/
position: absolute;
width: 24px;
height: 15px;
left: 1356px;
top: 42px;
}
